<% if current_user.role == 'admin' || current_user.role == 'premium' %>
	<div class="form-group">
	  <%= f.label :private, class: 'checkbox' do %>
	  <%= f.checkbox :private %> Private Wiki
	<% end %>
	</div>
<% end %>