<h1>All Wikis</h1>

<% if policy(Wiki.new).create? %>
	<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
<% end %>

<ul>
	<% @wikis.all.each do |wiki| %>
		<li><%= link_to wiki.title, wiki %></li>
	<% end %>
</ul>